<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courses</title>
</head>

<body>
    <div class="courses">
        <div class="background-container">
            <div class="black-overlay">
                <div class="container">
                    <div class="child-container">
                        <img [src]="'logo.png'" height="50" class="logo-image">
                        <h1 class="title">LearnPro</h1>
                    </div>
                    <div id="nav-container">
                        <nav>
                            <a routerLink="/home" routerLinkActive="active">Home</a>
                            <a routerLink="/about" routerLinkActive="active">About</a>
                            <a routerLink="/contact" routerLinkActive="active">Contact</a>
                        </nav>
                    </div>

                </div>
                <h1 class="heading">Expand Your Knowledge<br>With Our Courses</h1>
            </div>
            <div class="courses-container">
                <div>
                    <input type="text" class="input-box" placeholder="Search Courses">
                    <select class="category">
                        <option value=" " selected disabled>Choose Category</option>
                        <option value="technology">Technology & Programming</option>
                        <option value="science">Science & Engineering</option>
                        <option value="language">Language & Communication</option>
                    </select>
                    <button class="search-btn">Search Now</button>
                </div>
            </div>
            <h1 class="course-heading">Technology and Programming</h1>
            <div class="technologycourses-list">
                    <div class="box" style="width: 20rem;">
                        <img src="image/full-stack-development.gif" class="course-image">
                        <div class="course-details">
                            <h2>Full Stack Development</h2>
                            <p>Master front-end and back-end skills to build full web applications.</p>
                        </div>
                        <p>Level : Advanced <br><br>Approx. 3 months to complete</p>
                        <button class="enroll-btn">Enroll Now</button>
                    </div>
                
                    <div class="box" style="width: 20rem;">
                        <img src="image/cybersecurity.jpg" class="course-image">
                        <div class="course-details">
                            <h2>Cybersecurity Basics</h2>
                            <p>Understand key cybersecurity concepts to safeguard systems and data from threats.</p>
                        </div>
                        <p>Level : Basics <br><br>Approx. 24 hours to complete</p>
                        <button class="enroll-btn">Enroll Now</button>
                    </div>
                    <div class="box" style="width: 20rem;">
                        <img src="image/datascience.jpg" class="course-image">
                        <div class="course-details">
                            <h2>Datascience with python</h2>
                            <p>Learn to analyze and visualize data using Python for insightful decision-making.</p>
                        </div>
                        <p>Level : Intermediate <br><br>Approx. 1 months to complete</p>
                        <button class="enroll-btn">Enroll Now</button>
                    </div>
                
            </div>
        </div>
        <h1 class="course-heading1">Science and Engineering</h1>
            <div class="technologycourses-list">
                    <div class="box" style="width: 20rem;">
                        <img src="image/physics.jpeg" class="course-image">
                        <div class="course-details">
                            <h2>Fundamentals of Physics</h2>
                            <p>Learn core principles of motion, forces, and energy.</p>
                        </div>
                        <p>Level : Basics<br><br>Approx. 1 1/2 months to complete</p>
                        <button class="enroll-btn">Enroll Now</button>
                    </div>
                
                    <div class="box" style="width: 20rem;">
                        <img src="image/distributedcomputing.jpeg" class="course-image">
                        <div class="course-details">
                            <h2>Distributed Computing</h2>
                            <p>Study data sharing and parallel processing across systems.</p>
                        </div>
                        <p>Level : Basics <br><br>Approx. 1 1/2 months to complete</p>
                        <button class="enroll-btn">Enroll Now</button>
                    </div>
                    <div class="box" style="width: 20rem;">
                        <img src="image/cd.jpeg" class="course-image">
                        <div class="course-details">
                            <h2>Compiler Design</h2>
                            <p>Discover how code is translated into machine language for execution.</p>
                        </div>
                        <p>Level : Basics <br><br>Approx. 1 1/2 months to complete</p>
                        <button class="enroll-btn">Enroll Now</button>
                    </div>
                
            </div>
        <h1 class="course-heading2">Language and Communication</h1>
            <div class="technologycourses-list">
                    <div class="box" style="width: 20rem;">
                        <img src="image/publicspeaking.jpeg" class="course-image">
                        <div class="course-details">
                            <h2>Effective Public Speaking</h2>
                            <p> Gain confidence to deliver impactful presentations.</p>
                        </div>
                        <p>Level : Intermediate <br><br>Approx. 3 hours to complete</p>
                        <button class="enroll-btn">Enroll Now</button>
                    </div>
                
                    <div class="box" style="width: 20rem;">
                        <img src="image/writingcourse.jpeg" class="course-image">
                        <div class="course-details">
                            <h2>Creative Writing Essentials</h2>
                            <p>Develop skills and techniques to craft compelling stories.</p>
                        </div>
                        <p>Level : Basics <br><br>Approx. 5 hours to complete</p>
                        <button class="enroll-btn">Enroll Now</button>
                    </div>
                    <div class="box" style="width: 20rem;">
                        <img src="image/businesscoursse.png" class="course-image">
                        <div class="course-details">
                            <h2>Business Communication</h2>
                            <p>Enhance English skills for clear, professional interactions.</p>
                        </div>
                        <p>Level : Intermediate <br><br>Approx. 2 hours to complete</p>
                        <button class="enroll-btn">Enroll Now</button>
                    </div>
                
            </div>
    
    