<div class="resetbackground">
    <div class="container">
        <div class="image-container">
            <img src="/image/forgotpassword.png" class="image" width="300" height="300"><br>
            <h2 style="color: white; text-align: center; padding-top: 30px;">Forgot Password?<br>Let's Get You Back in!
            </h2>
        </div>
        <div class="resetform-container">
            <div class="form-container">
                <h1 class="title">Forgot Password</h1>
                <form class="form-list" [formGroup]="resetForm">
                    <table class="row">
                        <tr>
                            <td><label>E-mail</label></td>
                            <td>
                                <input type="email" class="input-box" formControlName="email"
                                    placeholder="Enter your e-mail">
                                <div class=error-box
                                    *ngIf="resetForm.controls['email'].invalid && (resetForm.controls['email'].touched || resetForm.controls['email'].dirty || isFormSubmitted )">
                                    <span class="error-message"
                                        *ngIf="resetForm.controls['email'].errors?.['required']">*email is
                                        required</span>
                                    <span class="error-message"
                                        *ngIf="resetForm.controls['email'].errors?.['email']">*email is invalid</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><label>New Password</label></td>
                            <td>
                                <input type="password" class="input-box" formControlName="password"
                                    placeholder="Enter your New Password">
                                <div class=error-box
                                    *ngIf="resetForm.controls['password'].invalid && (resetForm.controls['password'].touched || resetForm.controls['password'].dirty || isFormSubmitted)">
                                    <span class="error-message"
                                        *ngIf="resetForm.controls['password'].errors?.['required']">*password is
                                        required</span>
                                    <span class="error-message"
                                        *ngIf="resetForm.controls['password'].errors?.['maxlength']">*password must be 8
                                        characters</span>
                                    <span class="error-message"
                                        *ngIf="!resetForm.controls['password'].errors?.['maxlength'] && resetForm.controls['password'].errors?.['pattern']">*password
                                        contains letters,numbers,symbols</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><label>Confirm Password</label></td>
                            <td><input type="password" placeholder="Enter your password" class="input-box" ></td>
                        </tr>
                    </table>
                    <button class="save-btn" (click)="submit()">Save Password</button>
                </form>
            </div>
        </div>
    </div>
</div>
