<div class="background-container">
    <div class="top-bar">
        <img src="logou.png" height="50" class="logo-image">
        <nav id="nav-container">
            <div class="left-nav">
                <a routerLink="/home" routerLinkActive="active"><i class="fas fa-home"></i> Home</a>
                <a routerLink="/about" routerLinkActive="active"><i class="fas fa-info-circle"></i> About</a>
                <a routerLink="/courses" routerLinkActive="active"><i class="fas fa-book"></i> Courses</a>
                <a routerLink="/feedback" routerLinkActive="active"><i class="fas fa-comments"></i> Feedback</a>
                <a routerLink="/contact" routerLinkActive="active"><i class="fas fa-envelope"></i> Contact</a>
            </div>
            <div class="right-nav">
                <a routerLink="/register" routerLinkActive="active" class="btn"><i class="fas fa-user-plus"></i> Register</a>
                <a routerLink="/login" routerLinkActive="active" class="btn"><i class="fas fa-sign-in-alt"></i> Login</a>
            </div>
        </nav>
    </div>
    <div class="content">
        <div class="button-container">
            <button class="start-btn" routerLink="/login"><i class="fas fa-play"></i> Start Learning</button>
        </div>
    </div>
</div>
--