<div class="background-container">
    <div class="container">
        <div class="child-container">
            <img [src]="'logo.png'" height="50" class="logo-image">
            <h1 class="title">LearnPro</h1>
        </div>
        <div id="nav-container">
            <nav>
                <a routerLink="/home" routerLinkActive="active">Home</a>
                <a routerLink="/about" routerLinkActive="active">About</a>
                <a routerLink="/contact" routerLinkActive="active">Contact</a>
                <a routerLink="/courses" routerLinkActive="active">Courses</a>
                <a routerLink="/register" routerLinkActive="active"><button class="btn">Register</button></a>
                <a routerLink="/login" routerLinkActive="active"><button class="btn">Login</button></a>
            </nav>
        </div>
    </div>
    <button class="start-btn" routerLink="/login">Start Learning</button>
</div>